body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#008CBA !important;
}

a {
  color: #00B7FF;
}


input{
  display:inline-block;
  width: 120px;
  text-align: center;
  margin:0 auto;
}

.col-sm-2{
  text-align:center;
  margin:0 auto;
}

#goaltime{
  resize: none !important;
  text-align:center;
}

.jumbotron{
  background-color:white !important;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

#mainBtn{
  border-radius:10px;
  padding:10px;
  background-color:white;
  border:none;
  color:#008CBA;
}